<p class="fs-3">Hello! My name is Hector Nava, and I'm a member of the Enterprise Products team at Meta.</p>
<p class="fs-3">I focus on the roadmaps, development, and strategy of our internal products, which support Meta developers and business users in processing and integrating data.</p>
<p class="fs-3">I also have experience in full-stack development, focusing on MERN and Python technical stacks.</p>
<p class="fs-3">
    Review <a href="./download/HectorNavaResume.pdf" target="_blank">resume</a>.
</p>
