<p class="fs-4">Hello! My name is Hector Nava, and I'm a member of the Enterprise Products team at Meta.</p>
<p class="fs-4">I focus on the roadmaps, development, and strategy of our internal products, which support Meta developers and business users in processing and integrating data.</p>
<p class="fs-4">I also have a background in full-stack development, focusing on MERN and Python technical stacks.</p>
<p class="fs-4">Learn more about my experience by clicking on the link below. Thank you for visiting my site!</p>
<ul class="intro-ul">
    <li><p class="fs-4"><a href="./download/HectorNavaResume.pdf" target="_blank"><i class="fas fa-file-pdf intro-list"></i></a></p></li>
</ul>
