<div>
    <button class="custom-btn custom-shadow">
        <img src="./img/python.svg" width="20" height="20">
        Python
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/javascript.svg" class="mb-1" width="20" height="20">
        JavaScript
    </button>
    <button class="custom-btn custom-shadow">
        <span style="color: #5E7892;">
            <i class="fas fa-database"></i>
        </span>
        SQL
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/html.svg" class="mb-1" width="20" height="20">
        HTML5
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/css3.svg" class="mb-1" width="20" height="20">
        CSS3
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/bootstrap.svg" class="mb-1" width="20" height="20">
        Bootstrap
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/react.svg" class="mb-1" width="20" height="20">
        ReatJS
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/nodejs.svg" class="mb-1" width="40" height="40">
        NodeJS
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/expressjs.svg" class="mb-1" width="20" height="20">
        ExpressJS
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/mysql.svg" class="mb-1" width="20" height="20">
        MySQL
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/mongodb.svg" width="20" height="20">
        MongoDB
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/oracle.svg" width="40" high="40">
        Oracle
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/api.png" class="mb-1" width="20" height="20">
        REST API
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/aws.svg" width="30" height="30">
        AWS
    </button>
    <button class="custom-btn custom-shadow">
        <img src="./img/google-cloud.svg" class="mb-1" width="20" high="20">
        GCP
    </button>
</div>
