{{> navbar}}
<main id="top" class="container my-5">
    <div class="row pb-5 hidden">
        <div class="col">
            <h1>About Me</h1>
            {{> aboutme}}
        </div>
        <div id="profile-pic" class="col">
            <img src="./img/headshot-removebg.png" class="img-fluid rounded mx-auto d-block shawdow" alt="Headshot picture" />
        </div>
    </div>
    <div id="tech-skill" class="py-5">
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
    <div class="row my-5 py-5 hidden">
        <div class="col">
            <div class="gear-container">
                <div class="gear" id="gear1"></div>
                <div class="gear" id="gear2"></div>
                <div class="gear" id="gear3"></div>
                <div class="gear" id="gear4"></div>
                <div class="gear" id="gear5"></div>
                <div class="gear" id="gear6"></div>
                <div class="gear" id="gear7"></div>
                </div>
        </div>
        <div class="col">
            <h1>Technical Skills</h1>
            {{> techSkills}}
        </div>
    </div>
    </br>
    <div id="dev-project" class="py-5">
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
    <div class="mt-5 py-5 hidden">
        <h1 class="mb-3">Development Projects:</h1>
        {{> carousel}}
    </div>
    <div id="contact" class="py-5">
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
    <div class="mt-5 py-5 hidden">
        <h1 class="mb-3">Contact:</h1>
        <div id="contactCard" class="p-2 rounded shadow w-75">
            <form id="contactForm" class="row g-3 my-2 mx-4 needs-validation" novalidate>
                <div class="form-floating col-sm-6">
                    <input id="firstNameField" type="text" class="form-control" placeholder="First name" required>
                    <label for="firstNameField">First name</label>
                    <div class="invalid-feedback">
                        Please provide a first name.
                    </div>
                </div>
                <div class="form-floating col-sm-6">
                    <input id="lastNameField" type="text" class="form-control" placeholder="Last name" required>
                    <label for="lastNameField">Last name</label>
                    <div class="invalid-feedback">
                        Please provide a last name.
                    </div>
                </div>
                <div class="form-floating col-12">
                    <input id="emailField" type="email" class="form-control" placeholder="name@example.com" required>
                    <label for="emailField">Email address</label>
                    <div class="invalid-feedback">
                        Please provide an email.
                    </div>
                </div>
                <div class="form-floating">
                    <textarea id="messageField" class="form-control" placeholder="Leave a message here" style="height: 150px; resize: none;" required></textarea>
                    <label for="messageField">Message</label>
                    <div class="invalid-feedback">
                        Please provide a message.
                    </div>
                </div>

                <hr class="my-4">

                <div class="col-12">
                    <button id="submitBtn" class="btn btn-primary btn-lg" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</main>
{{> alertMessage}}
<div id="social" class="btn-group-vertical" role="group" aria-label="Basic example">
    <h8 class="font-weight-bold">Follow me!</h8>
    <button id="linkedin" type="button" class="btn">
        <a target="_blank" href="https://www.linkedin.com/in/hector-nava-mba" title="Connect on LinkedIn">
            <i style="font-size: 2em; color: #FFFFFF;" class="fab fa-linkedin-in"></i>
        </a>
    </button>
    <button id="github" type="button" class="btn">
        <a target="_blank" href="https://github.com/hnava47" title="Follow on GitHub">
            <i style="font-size: 2em; color: #FFFFFF;" class="fab fa-github"></i>
        </a>
    </button>
</div>
<footer class="footer text-center mt-auto py-5">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>
